version: "3.3"
services:
  server:
    image: pow_server:latest
    restart: always
    ports:
      - '0.0.0.0:8080:8080'
    environment:
      - HOST=localhost
      - PORT=8080
      - TIMEOUT=15s
      - LEADING_ZEROS=5
      - RANDOM_RANGE=10000
    networks:
      - backend

  client:
    image: pow_client
    restart: always
    environment:
      - HOST=server
      - PORT=8080
      - TIMEOUT=15s
    networks:
      - backend
    links:
      - server:server

networks:
  backend:
    driver: bridge
